<div class="row text-center">
    <div class="col-md-6 offset-3">
        <h1 class="text-info"> There is no person that exists in the internet with that name or id or whatever you searched there</h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Home" asp-action="Index">Home Page</a>
    </div>
    
    </div>
